if: included
runners:
  req: <<.host>>
steps:
  first:
    req:
      <<.path>>:
        <<.method>>:
          body: 
            <<.bodies>>
    test:
      compare(steps.first.res.status, vars.res.status)

